body {
    font-family: 'Roboto Mono', monospace;
}

/* main styles */

.container_root {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #F2F2F2;
    margin: 0 auto;
    box-shadow: 10px 10px 30px #062553;
}

/* .main-content {
    background-color: #fff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
} */

/* .about styles */

.container.about {
    /* background-color: #062553; */
    width: 350px;
    font-weight: 900;
    color: #062553;
    padding: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
}

/* .about-position {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
} */

/* .about-name {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
} */

.about-description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

/* .about styles */

.container_projects {
    color: #FF9900;
    padding: 5px;
    margin-left: 50px;
    font-weight: bold;
}

.title {
  font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.projects-list {
    padding: 0;
    margin-left: 15px;
}

.projects-item {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project, 
.project-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project-link {
    margin-left: 10px;
}

.project-bracket {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

/* work styles */

.work {
    margin-bottom: 45px;
}

.work-position {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.organization {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #000;
}

.work-list-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.work-list {
    padding: 0;
    margin-left: 15px;
}

/* Education styles */

.container.education {
    color: #062553;
    padding: 5px;
    margin-left: 50px;
    width: 300px;
}

.university {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 10px;
}

.department {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin-bottom: 10px;
}

/* sidebar styles */

.sidebar {
    background-color: #062553;
    color: white;
    margin: 5px;
    padding: 50px 10px 10px 10px;
    width: 400px;
}

.sidebar_image {
    margin-bottom: 50px;
}

.sidebar_header {
    font-size: 20px;
    font-style: bold;
    margin: 5px;
}

.contacts_list {
    padding: 0px;
    margin-left: 10px;
    color: #FF9900;
}

.contact_span {
    color: white;
    font-weight: 900;
}

.contact_reference {
    color: #cccccc;
    font-weight: 400;
    margin-bottom: 15px;
}

.skills_division {
    width: 370px;
    margin-left: 10px;
}

.skill_list {
    padding: 10px;
    margin-left: 25px;
}

.skill_dot {
    color: #FF9900;
    padding-left: 5px;
    margin-bottom: 5px;
}

.skill_span {
    color: white;
}

.skill_paragraph {
    padding: 0px;
    margin: 0px;
}

