body {
    font-family: 'Roboto Mono', monospace;
}

/* main styles */

.container_root {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #F2F2F2;
    margin: 0 auto;
    box-shadow: 10px 10px 30px #062553;
}

/* .about styles */

.h3_titles {
    color: #FF9900;
    font-size: 25px;
    font-style: bold;
}

.container_about {
    width: 350px;
    font-weight: 900;
    color: #062553;
    padding: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.container_projects {
    color: #FF9900;
    padding: 5px;
    margin-left: 50px;
    font-weight: bold;
}

.projects-list {
    padding: 0;
    padding-right: 50px;
}

.projects-item {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project, 
.project-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project-link {
    margin-left: 10px;
}

.project-bracket {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

/* work styles */

.container_work {
    color: #062553;
    padding: 5px;
    margin-left: 50px;
    width: 550px;
}

.job_company {
    color: #FF9900;
    font-weight: bold;
    font-style: italic;
}

.job_years {
    color: #FF9900;
    font-style: italic;
}

/* Education styles */

/* .container.education {
    color: #062553;
    padding: 5px;
    margin-left: 50px;
    width: 300px;
} */

.li_education_dot {
    color: #FF9900;
}

.edu_title {
    color: #062553;
    font-weight: bold;
}

.edu_years {
    color: #062553;
}

.edu_college {
    color: #062553;
}

/* sidebar styles */

.sidebar {
    background-color: #062553;
    color: white;
    margin: 5px;
    padding: 50px 10px 10px 10px;
    width: 400px;
}

.sidebar_image {
    margin-bottom: 50px;
}

.sidebar_header {
    font-size: 20px;
    font-style: bold;
    margin: 5px;
}

.contacts_list {
    padding: 0px;
    margin-left: 10px;
    color: #FF9900;
}

.contact_span {
    color: white;
    font-weight: 900;
}

.contact_reference {
    color: #cccccc;
    font-weight: 400;
    margin-bottom: 15px;
}

.skills_division {
    width: 370px;
    margin-left: 10px;
}

.skill_list {
    padding: 10px;
    margin-left: 25px;
}

.skill_dot {
    color: #FF9900;
    padding-left: 5px;
    margin-bottom: 5px;
}

.skill_span {
    color: white;
}

.skill_paragraph {
    padding: 0px;
    margin: 0px;
}

